<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>


</head>

<body>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css" />

    <link rel="stylesheet" href="../assets/css.css">

    <div class='center'>




        <h1 class='header'>
            EventScrape
        </h1>

        <h2 class='header'>For taking headlines off eventhubs and speaking privately of them...</h2>

        <figure>
            <img src='./assets/images/banner-01.jpg'>;
        </figure>







        <div class='find'> ~ Articles Below ~ </div>


        <!-- <div class="targetClass">

        </div> -->

        <ul uk-accordion="" class="targetClass uk-accordion">

        </ul>

    </div>

    <script type="text/javascript" src="../assets/js.js"></script>


</body>

</html>